@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.main{
    background-color: #080C15;
    width: 1440px;
    height: 1024px;
}
.top-line{
    display: flex;
}
.contnet{
    width: 539px;
    height: 582px;
    margin-left: 100px;
    margin-top: 181px;
    border: 0.5px solid #ffffff; 
}
.contnet-title{
    font-family: "Montserrat", sans-serif;
    font-size: 64px;
    font-weight: 800;
}
.branco{
    color: #ffffff;
}
.vermelho{
    color: #CD292A;
}

.contnet-image{
    width: 536px;
    height: 104px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #ffffff;
}

#img1{
    width: 104px;
    height: 104px;
    display: flex;
}
#img2{
    width: 104px;
    height: 104px;
    display: flex;
    margin-left:-35px;

}
#img3{
    width: 104px;
    height: 104px;
    display: flex;
    margin-left: -35px;

}
#img4{
    width: 104px;
    height: 104px;
    display: flex;
    margin-left:-35px;

}
#img5{
    width: 104px;
    height: 104px;
    display: flex;
    margin-left:-35px;
}
#img6{
    width: 104px;
    height: 104px;
    display: flex;
    margin-left:-35px;
}
#img7{
    width: 104px;
    height: 104px;
    display: flex;
    margin-left:-35px;
}

.contnet-text{
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #FFFFFF;
}

.contnet-button{

}
.primary-button{
    
}
.right{
    width: 1057.55px;
    height: 1163.3px;
    margin-left: -62.3px;
    margin-top: 441.46px;
}
.image-right{
    width: 1057.55px;
    height: 1163.3px;
    margin-left: -62.3px;
    margin-top: 441.46px;
}
